# Build programming fluency.

We will do this together in our next session(s).

**1**. (Review)

Find the number less than 1,000 that generates the longest Collatz sequence.

**2**, (Review)

Find the length of the longest sequence of heads in 10,000 simulated tosses of a fair coin. Now repeat for a biased coin, wehre the probability of heads = 0.55. How much longer is the second run of heads than the first?

**3**. 

A Pythagorean triplet is a set of postive integers $(a, b, c)$ such that $a^2 + b^2 = c^2$. For example, $(3,4,5)$ is a Pythagorean triplet. Find all Pythagorean triplets for $c < 100$.

**4**. 

In the game craps, you roll two 6-sided dice. Firstt roll — You win if a 7 or 11 roll, or lose if 2, 3, or 12 roll (known as “craps”). Any other number that rolls becomes the “point” and the point must roll again before a 7 to win.

Simulate 1,000 games of craps to estimate your probability of winning.

**5**.

Work wiht the Pokemon DataFrame provided below.

1. Create a DataFrame called `df_legend` containing only Legendary Pokemon. Each question after this will use the new DataFrame that you created and not the origianl.
2. What is the average speed of each Generation?
3. What is the most common `Type 1` class ?
4. Find all Pokeon whose names begin wiht the letter `A` or ends in a vowel.
5. Create a new DataFrame by removing all Pokemon that have *any* missing data.

In [26]:
import pandas as pd

url = 'https://rb.gy/u5avn'
df = pd.read_csv(url, index_col=0)
df.sample(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
173,Cleffa,Fairy,NaN,218,50,25,28,45,55,15,2,False
639,Terrakion,Rock,Fighting,580,91,129,90,72,90,108,5,True
141,Kabutops,Rock,Water,495,60,115,105,65,70,80,1,False
264,Linoone,Normal,NaN,420,78,70,61,50,61,100,3,False
240,Magby,Fire,NaN,365,45,75,37,70,55,83,2,False
616,Shelmet,Bug,NaN,305,50,40,85,40,65,25,5,False
312,Minun,Electric,NaN,405,60,40,50,75,85,95,3,False
389,Torterra,Grass,Ground,525,95,109,105,75,85,56,4,False
258,Mudkip,Water,NaN,310,50,70,50,50,50,40,3,False
380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True

**6**.

Use the `df_legend` DataFrame from Exercise 5.1

1. Using `seaborn`, create a grid of `violin` plots where each column shows a differnet `Type 1` class, the `x` axis is for `Generation` and the `y` axis is for `Defense`. Do not show more than 4 columns per row.
2. Create a `tall` dataFrame where the `id_vars` are `Name` and `Type 1`, and the variables and values are from the `HP, Attack, Defense` columns.
3. Using `seaborn`, create 3 columns of `swarm` plots - one each for `HP`, `Attack`, or `Defense`. Each plot should show `Type 1` class on the x-axis, and the distribution of the values relevant for that column — i.e., values for `HP`, `Attack`, or `Defense`. Only use the 5 most common Type 1 Pokemon. Giv each of the 5 types a differnt color.